.container{
    background-color: rgb(120, 157, 185);
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
     padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    row-gap: 20px;

}

.box1{
 background-color: aqua;
    height: 50px;
    width: 50px;
    border: 3px solid #000 ;
    border-radius: 3px;
    
}

.box2 {
    background-color: blueviolet;
    height: 50px;
    width: 50px;
    border: 3px solid #000;
    border-radius: 3px;
    
}

.box3 {
    background-color: yellow;
    height: 50px;
    width: 50px;
    border: 3px solid #000;
    border-radius: 3px;
    
}