body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

header{
    background-color: #676767;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    padding: 20px;

}

.content{
    background-color: rgb(201, 196, 196);
    padding: 20px;
    border-radius: 3px;

}

.container{
   background-color: rgb(201, 196, 196);
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
     padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    row-gap: 20px;
    height: 50px;
    width: 50px;
    border: 3px solid #000 ;
    border-radius: 3px;
    
}


     


footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}